<DOCTYPE html>
  <html lang="en" ng-app="">
    <head>
      <meta charset="UTF-8">
      <title>Angular | Practise</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    </head>
    <body>
      <h1>Give me your details</h1>
      What is your name: <input type="text" ng-model="name"><br>
      What is your age: <input type="text" ng-model="age"><br>
      Where do you live: <input type="text" ng-model="from"><br>
      What is your favourite hobby:<input type="text" ng-model="hobby"><br>
      <div>name = {{name}}</div>
      <div>age = {{age}}</div>
      <div>from = {{from}}</div>
      <div>hobby = {{hobby}}</div>

      <input type="text" ng-model="newName">
      <div ng-bind="newName"></div>
      <div ng-init="language='AngularJS'">
        What is your preferred language: <input type="text" ng-model="language">
        {{language}}
      </div>

      <h2>List of favourite languages</h2>
      <div ng-init="myFavLan = [{name: 'Ruby', extension: '.rb'}, {name: 'Javascript', extension: '.js'}, {name: 'C++', extension: '.cpp'}, {name: 'Python', extension: '.py'},]">
        <p ng-repeat="language in myFavLan">
          <strong>Name:</strong> {{language.name}}<br>
          <strong>Extension:</strong> {{language.extension}}<br>
        </p>
      </div>
    </body>
  </html>
