<DOCTYPE html>
  <html lang="en" ng-app="">
    <head>
      <meta charset="UTF-8">
      <title>Angular | Practise</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    </head>
    <body>
      <input type="text" ng-model="name">
      <input type="text" ng-model="age">
      <input type="text" ng-model="from">
      <input type="text" ng-model="hobby">
      <div>My name is {{name}}!</div>
      <div>I am {{age}} years old</div>
      <div>I live in {{from}}</div>
      <div>My favourite hobby is {{hobby}}</div>

    </body>
  </html>
